[submodule "deps/http-parser"]
	path = deps/http-parser
	url = https://github.com/nodejs/http-parser.git
[submodule "deps/mruby"]
	path = deps/mruby
	url = https://github.com/mruby/mruby.git
[submodule "deps/openssl"]
	path = deps/openssl
	url = https://github.com/openssl/openssl.git
[submodule "deps/zlib"]
	path = deps/zlib
	url = https://github.com/madler/zlib.git
[submodule "deps/libssh2"]
	path = deps/libssh2
	url = https://github.com/libssh2/libssh2.git
[submodule "deps/pcre2"]
	path = deps/pcre2
	url = https://github.com/PCRE2Project/pcre2.git
[submodule "deps/libgit2"]
	path = deps/libgit2
	url = https://github.com/libgit2/libgit2.git
